<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.slh.userTwo.mapper.UserTwoMapper">


   <!-- <select id="findTwo" resultType="com.slh.userTwo.dao.UserTwo">
        SELECT * from t_user
    </select>-->
</mapper>